#tl2.env.sample
JOURNAL_PATH="$HOME/Documents/journal"
export JOURNAL_PATH

TLOG_TMP = "$HOME/tmp/tlog"  # this is the default for logs, even if unset
export TLOG_TMP

PYTHONPATH=${HOME}/bin:$PYTHONPATH
export PYTHONPATH

PATH=${HOME}/bin::$PATH
export PATH

alias cdj='cd $(journaldir.py);pwd'
alias tlog='python -m tlog' # shold run ${HOME}/bin/tlog.py
